.bash_history
test_cases/run
.cache
.ipython
.jupyter
.local
notebooks/plot_data
notebooks/show_package_versions.ipynb
notebooks/.ipynb_checkpoints
.python_history
notebooks/oscillatory_bounday_condition/
of2006-py1.6-cpu.sif
extra
notebooks/data_py.config
notebooks/config.dictionary
notebooks/.idea/
.vscode/
notebooks/.vscode/
.gnupg/
.ssh/
.vscode-server/
notebooks/LHS_data_vis.png
notebooks/LHS_data_weight.png
notebooks/PARAL_SIRL.png
notebooks/cd_fft.png
notebooks/cl_fft.png
notebooks/error.png
notebooks/frr_for_new.png
notebooks/krr_lhs.png
notebooks/lhs_data_distribution.png
notebooks/mesh_dp_cd.png
notebooks/mesh_dp_cd_400.png
notebooks/mesh_dp_cl.png
notebooks/mesh_dp_cl_400.png
notebooks/min_mm_cd.png
notebooks/min_mm_cl.png
notebooks/origin_plot_lhs.png
notebooks/sinefit_cd.png
notebooks/sinefit_cl.png
dependancies
DRL_cpp/Make/linux64GccDPInt32Opt/
DRL_cpp/main
DRL_py/.idea/
DRL_py/__pycache__/
DRL_py/env/DRL_base_case/
DRL_py/env/trajectories/
DRL_py/python_package.sif
DRL_py/env/initial_setup/
DRL_py/env/sample_1/
overleaf/
presentation/
DRL_py/env/*
DRL_py/results/
DRL_py/env/base_case/agentRotatingWallVelocity/policy.pt
DRL_py/results.png
notebooks/mesh_dp_cd400.png
notebooks/mesh_dp_cl400.png
notebooks/sinefit_cd_sc (copy).png
notebooks/sinefit_cd_sc.png
notebooks/sinefit_cl_sc (copy).png
notebooks/sinefit_cl_sc.png
DRL_py/r_plot_results.py
DRL_py/results_25_15.png
DRL_py/model_cluste_policy.pt
DRL_py/python_drl.sif

